<div class="main-note">
  <div class="note-header">
    <div class="folder-title">
      <%= @folder.name %>
    </div>
    <div class="note-header">
        <div class="create-note">
          <%= link_to "➕新規ノートを作成", new_folder_note_path %>
        </div>
    </div>
  </div>
  <% @folder.notes.each do |note| %>
    <div class="note">
      <div class="note-title">
        <%= link_to note.title, edit_folder_note_path(@folder, note) %>
      </div>
      <div class="note-content">
        <%= link_to note.content, edit_folder_note_path(@folder, note) %>
      </div>
      <div class="note-user">
        <%= note.user.name %>
      </div>
      <div class="note-date">
        <%= l note.created_at %>
      </div>
    </div>
   <% end %>
</div>